#about-title-background {
    background-image: url("../assets/images/background/about-background2.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    margin-top: -35px;
    /* z-index: -1; */
}

/* Header About Section */
.about-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 100%;
    z-index: 1000;
}

.about-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-10%)
}

.dark-logo img {
    width: 300px;
    transform: translateX(10%);
}

.about-link-container {
    width: 100%;
    margin-right: 80px;
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.about-list-items a {
    text-decoration: none;
}

a:visited {
    color: #0000;
}

.about-link-container li span.yellow-highlight {
    /* color: rgb(43, 130, 201);  */
    color: #CFA238;
    font-weight: 600;
    margin-right: 8px;
}

.scrolled {
    box-shadow: 0 2px 4px rgb(102, 102, 102);
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
}

@media (max-width: 885px) {
    .about-link-container {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        cursor:pointer;
        right: 24px;
        top: 44px;
        z-index: 1000;
    }

    .hamburger-menu div {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .hamburger-menu div:hover {
        background-color: #CFA238;
    }
}


/* About Title */
.about-title-container {
    text-align: center;
    border: 1px solid red;
}

.about-title {
    color: rgb(48, 48, 48);
    transform: translateY(1280%);
    font-size: 2.5rem;
}

@media (min-width: 2200px) {
    .about-title {
        font-size: 2.9rem;
    }
}

@media (max-width: 1700px) {
    .about-title {
        font-size: 2.3rem;
    }
}

@media (max-width: 1500px) {
    .about-title {
        font-size: 2.1rem;
    }
}

@media (max-width: 1330px) {
    .about-title {
        font-size: 1.9rem;
    }
}

@media (max-width: 1330px) {
    .about-intro p {
        font-size: 1.6rem;
    }
}

@media (max-width: 885px) {
    .about-title {
        font-size: 1.8rem;
        max-width: 1100px;
    }
}

/* About Handshake Image */
.about-handshake-container img {
    transform: translateY(6%);
    height: 45vh;
    width: 100%;
    height: auto;
} 

@media (max-width: 1029px) {
    .about-handshake-container img {
        margin-top: 80px;
    }
}

@media (max-width: 885px) {
    .about-handshake-container img {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .about-handshake-container img {
        margin-top: 10px;
    }
}

.about-intro {
    max-width: 70vw;
    position: relative;
    top: 200px;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* About button */
.about-button-container {
    text-align: center;
    transform: translateY(110%);
}

.about-btn {
    height: 6vh;
    width: 260px; 
    /* width: 13vw; */
    margin-top: 70px;
    padding: 10px;
    background-color: #CFA238;
    border: #157FBD;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing:.8px;
}

.about-btn:hover {
    background-color: #ffffff;
    color: #157FBD;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(40, 143, 226);
}

/* About Banner */
.about-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #363636;
    margin-top: 100px;
    transform: translateY(60%);
    color: whitesmoke;
}

.about-banner-content {
    position: relative;
    bottom: 14px;
    text-align: center;
}

.about-banner-content p {
    font-size: 1.1rem;
}

.about-testimonial-img,
.about-money-img,
.about-trophy-img {
    text-align: center; 
    font-size: 1.1rem;
}

.about-banner-content h4 {
    font-size: 2.3rem;
    margin-bottom: auto;
}

/* About Footer */
.about-footer {
    background-color: #ffffff;
    position: relative;
    bottom: 0;
    margin-top: 200px;
    padding: 20px; /* Add padding for better spacing */
}

/* Third row */
.about-social-media-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    max-width: 69vw;
    margin: 0 auto;
    justify-content: center;
    padding: 40px;
}

/* Fourth row */
.about-copyright p {
    text-align: center;
    padding: 20px;
}

.about-banner-content h4 {
    color: #CFA238;
}