body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Background Image */
#contact-background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100vh; 
    background-image: url('../assets/images/background/form-image.png');
    background-size: cover;
    z-index: -1; 
}


/* Header Section */
.contact-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 100%;
    z-index: 1000;
}

.contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-18%)
}

.contact-dark-logo img {
    width: 300px;
    transform: translateX(10%);
}

.contact-dark-logo img:hover {
    cursor: pointer;
}

.contact-link-container {
    width: 100%;
    margin-right: 80px;
    display: flex;
    gap: 52px;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.contact-link-container li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.contact-list-items a {
    text-decoration: none;
}
.contact-list-items a:hover {
    color: #CFA238;
}

a:visited {
    color: #0000;
}

.contact-link-container li span.bright-highlight {
    color: #CFA238;
    font-weight: 600;
    margin-right: 8px;
}

/* Social Media logo */
.social-media-container {
    display: flex;
    flex-direction: row;
    transform: translateX(100%);
    gap: 20px;
    margin-right: 80px;
}

.social-media img {
    width: 4w;
    height: auto;
}

/* Form Section */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(25%);
}

.free-case-evaluation {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.free-case-evaluation h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.free-case-evaluation input[type="text"],
.free-case-evaluation input[type="email"],
.free-case-evaluation input[type="tel"],
.free-case-evaluation textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.free-case-evaluation input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #CFA238;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.free-case-evaluation input[type="submit"]:hover {
    background-color: #CFA238;
}

/* Footer Section */