body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Background Image */
#contact-background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100vh; 
    background-image: url('../assets/images/background/form-image.png');
    background-size: cover;
    z-index: -1; 
}


/* Header Section */
.contact-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 100%;
    z-index: 1000;
}

.contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-18%)
}

.contact-dark-logo img {
    width: 300px;
    transform: translateX(10%);
}

.contact-dark-logo img:hover {
    cursor: pointer;
}

.contact-link-container {
    width: 100%;
    margin-right: 80px;
    display: flex;
    gap: 38px;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.contact-link-container li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.contact-list-items a {
    text-decoration: none;
}
.contact-list-items a:hover {
    color: #CFA238;
}

a:visited {
    color: #0000;
}

.contact-link-container li span.bright-highlight {
    color: #CFA238;
    font-weight: 600;
    margin-right: 4px;
}

/* Social Media logo */
.social-media-container {
    display: flex;
    flex-direction: row;
    transform: translateX(120%);
    gap: 8px;
    margin-right: 80px;
}

.social-media img {
    width: 4w;
    height: auto;
}

/* Form Section */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    /* max-width: 1000px; */
    transform: translateX(25%);
}

.free-case-evaluation {
    width: 90%; 
    max-width: 500px;
    padding: 20px 40px;
    padding-bottom: 50px;
    color: whitesmoke;
    background-color: #311212;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px solid #000;
}

.free-case-evaluation h2 span.bright-highlight {
    color: #CFA238;
}

.free-case-evaluation h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.free-case-evaluation p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    text-align: center;
}

.free-case-evaluation input[type="text"],
.free-case-evaluation input[type="email"],
.free-case-evaluation input[type="tel"],
.free-case-evaluation textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.free-case-evaluation input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #CFA238;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.free-case-evaluation input[type="submit"]:hover {
    background-color: #CFA238;
}

/* Inline form group */
.form-group-inline {
    display: flex;
    gap: 20px; 
}

.form-group-inline-item {
    flex: 1; 
}

/* Form Button */
#contact-btn-container {
    text-align: center;
    transform: translateY(110%);
}

.contact-btn {
    height: 6vh;
    width: 200px; 
    /* width: 13vw; */
    transform: translateY(-90%);
    background-color: #CFA238;
    border: #157FBD;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing:.8px;
    border-radius: 10px;
}

.contact-btn:hover {
    background-color: #b3761b;
    cursor: pointer;
}

/* Footer Section */
.contact-footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.contact-footer-container p {
    margin-right: 40px;
    font-weight: 600;
}

.contact-footer-container p span.bright-highlight {
    color: #CFA238;
}

.contact-footer-container a {
    text-decoration: none;
}

.contact-footer-container p:hover {
    color: #CFA238;
    cursor: pointer;
    font-size: 1.1rem;
    transform: ease 0.3s;
}

/* Media Queries */
@media (max-width: 2130px) {
    .form-container {
        transform: translateX(33%);
    }
}

@media (min-width: 2129px) {
    .form-container {
        transform: translateX(40%);
    }


    #contact-background-img {
        width: 45%;
    }
}

@media (max-width: 1680px) {
    #contact-background-img {
        width: 44%;
    }

    .contact-header-container {
        margin-right: 180px;
    }

    .form-container {
        transform: translateX(30%);
        margin: 0;
    }

}

@media (max-width: 1679px) {
    .social-media-container {
        display: none;
    }
}

/* Hide Home link */
@media (max-width: 1480px) {
    #hide-home-link {
        display: none;
    
    }
}

/* breakpoint where background image is 100% */
@media (max-width: 1215px) {
    #contact-background-img {
        width: 100%;
    }

    .form-container {
        transform: translateX(0%);
    }

    .contact-footer-container p {
        color: white;
    }
}

@media (max-width: 1000px) {
    .contact-header-container {
        margin-right: 20px;
    }
}

@media (max-width: 815px) {
    .contact-header-container {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .social-media-container {
        display: flex;
        margin-right: 120px;
    }

    .contact-list-items:nth-child(2) {
        display: none;
    }

    .form-container {
        transform: translateY(2%);
    }
}

/* form centered for mobile */
@media (min-width: 275px) and (max-width: 767px) {
    .form-container {
        margin: 0 auto;
    }

    .social-media-container {
        display: none;
    }
}