/* .data-section {
    background-image: url('../assets/images/background/Data-img.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
} */

.navy-background {
    background-color: rgb(6, 6, 61);
    color: #8daed8;
    height: 210vh;
    transform: translateY(3%);
}

.cases-content {
    width: 80%; 
    max-width: 700px; 
    margin: 0 auto; 
    overflow-wrap: break-word;
}

.cases-main-heading {
    color: #CFA238;
    font-size: 2.5rem;
    text-align: center;
    padding: 60px;
}

.victory-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.victory-container p {
    color: whitesmoke;
}

.victory-container .yellow-highlight {
    color: #CFA238;
}

.yellow-highlight {
    color:#CFA238;
}

/* Grid layout for Cases Section */
.cases-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;
    max-width: 150vh;
}

.cases-grid-wrapper p {
    color: whitesmoke;
}

.cases-grid-item {
    /* border: 1px solid #ccc; */
    padding: 20px;
    transform: translateY(20%);
}

/* Button Section */
.cases-button-container {
    text-align: center;
    transform: translateY(50%);
}

.cases-btn {
    height: 6vh;
    width: 260px; 
    /* width: 13vw; */
    margin-top: 70px;
    padding: 10px;
    background-color: #CFA238;
    border: #157FBD;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing:.8px;
}

.cases-btn:hover {
    background-color: #ffffff;
    color: #157FBD;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(40, 143, 226);
}