footer {
    background-color: #ffffff;
    position: relative;
    bottom: 0;
    padding: 20px; /* Add padding for better spacing */
}

/* First row */
.awards-grid-wrapper {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 20px; 
    max-width: 80vw;
    margin: 0 auto;
}

.awards img {
    max-width: 100%;
    height: auto; 
}

hr {
    border: none;
    height: 2px; 
    width: 70%;
    background-color: #ccc; 
    margin: 20px auto;
}

/* Second row */
.locations-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    grid-gap: 20px; 
    max-width: 80vw;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.location {
    padding: 10px; 
}

.location p {
    margin: 0; 
}

@media screen and (max-width: 768px) {
    .locations-grid-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    }
}

/* Third row */
.social-media-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    max-width: 79vw;
    margin: 0 auto;
    justify-content: center;
    padding: 40px;
}

/* Fourth row */
.copyright p {
    text-align: center;
    padding: 20px;
}