/* Header Section */
header {
    background-color: #ffffff; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px; 
    transform: translateY(6%);
}


.main-logo {
    transform: translateY(-7%);
}

.header-links-flex-container {
    width: 100%;
    margin-right: 80px;
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.header-links-flex-container li a {
    text-decoration: none;
}

header .header-links-flex-container li a:hover {
    color: #2191d1;
    /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5); */
}

a:visited {
    color: #0000;
}

.header-links-flex-container li span.highlighted {
    /* color: rgb(43, 130, 201);  */
    color: rgb(43, 130, 201); 
    font-weight: 600;
    margin-right: 8px;
}

.hamburger {
    flex-direction: column;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transform: translateY(-18%);
}

.close-icon {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(30%);
}

.close-icon:hover {
    cursor: pointer;
    fill:rgb(40, 143, 226);
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes colorChange {
    0% {
        color: inherit; /* Start with the default text color */
    }
    25% {
        color: rgb(43, 130, 201); /* Change text color to red */
    }
    50% {
        color: rgb(67, 159, 235); /* Change text color back to the original blue */
    }
    75% {
        color: rgb(107, 107, 107); /* Change text color to dark grey */
    }
    100% {
        color: inherit; /* Return to the default text color */
    }
}

#wiggle {
    animation: wiggle 2s normal;/* Apply the wiggle animation */
}

#wiggle:hover {
    color: #157FBD;
    cursor: pointer;
}

.highlighted {
    animation: colorChange 10s ease infinite;
}


.nav-links {
    display: flex;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 10px; /* Example spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: #333; 
}

.logo img {
    max-width: 100%; 
    height: auto;
}

/* Scroll Header animation for event listener */
.scrolled {
    box-shadow: 0 2px 4px rgb(102, 102, 102);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff73;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-decoration: none;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    justify-content: flex-start;
}

/* media queries for header links and hamburger icon */
@media (min-width: 1451px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 1451px) {
    .hide-header-links {
        display: none;
    }
}

#sidebar-logo img {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin: 28px 0;
}

.sidebar li {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.sidebar a {
    text-decoration: none;
    color: #000000;
    padding: 10px 0px;
    display: block;
    transition: 0.3s;
    font-size: 1.3rem;
    padding: 0 20px;
    margin-bottom: 20px;
}

#sidebar-call {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 10px;
    padding: 20px;
    color: #020202;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    /* background-color: #CFA238; */
}

.sidebar a:hover {
    color: #157FBD;
    text-decoration: underline;
    border-radius: 50%;
    padding: 0 30px;
    height: 100%;
    text-shadow: 2 1 2px #157FBD;
    cursor: pointer;
}

.sidebar li span.yellow-highlight {
    color: #157FBD;
    font-weight: 600;

}

