/* Homepage Section */
#homepage {
    background-image: url('../assets/images/background/hammer-blue.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-container {
    text-align: center;
    position: relative;
}

.homepage-heading {
    position: relative;
    top: 160px;
    font-size: 4.4rem;
    color: white;
}

.title-container {
    position: relative;
}

.homepage-sub-heading {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(43, 130, 201); 
    -webkit-text-stroke: 1px rgb(31, 41, 77); 
    color: white;
    font-size: 3rem;
    letter-spacing: 3px;
    z-index: 2;
    height: 20%;
}



/* Media Query to decrease font size */
@media (max-width: 768px) {
    .homepage-heading {
        font-size: 3.5rem;
    }

    .homepage-sub-heading {
        font-size: 2.5rem;
    }
}

@media (max-width: 649px) {
    .homepage-heading {
        font-size: 3.0rem;
    }

    .homepage-sub-heading {
        font-size: 2.1rem;
    }
}

/* Mobile devices media query */
@media (min-width: 375px) and (max-width: 480px) {
    .homepage-heading {
        font-size: 2.5rem;
    }
    
    .homepage-sub-heading {
        display: none;
    }

    #lawyer-team {
        margin-top: -20px;
        margin-bottom: 120px;
    }

    #practice-heading {
        display: none;
    }

    #testimonials {
        font-size: 1.2rem;
    }

    .social-media {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }

}


/* Media Query for medium devices */
@media (min-width: 481px) and (max-width: 606px) {
    #lawyer-team {
        margin-top: -20px;
        margin-bottom: 120px;
    }
    
}

/* Banner Section */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #8daed8;
}

.banner-content {
    position: relative;
    bottom: 14px;
    text-align: center;
}

.banner-content p {
    font-size: 1.1rem;
}

.testimonial-img,
.money-img,
.trophy-img {
    text-align: center; 
    font-size: 1.1rem;
}

.banner-content h4 {
    font-size: 2.3rem;
    margin-bottom: auto;
}

/* Media Query stack items */
@media(max-width: 720px) {
    .banner-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Testimonial Banner */
.banner-quote-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 80px;
    background-color: rgb(6, 6, 61);
    /* #CFA238; */
    margin-top: 100px;
}

.banner-quote {
    color: whitesmoke;
    line-height: 1.6;
    width: 82vw;
}

.blue-highlight {
    color: #44ace9;
}