*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Section */
header {
    background-color: #ffffff; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px; 
}

.main-logo {
    
}

.header-links-flex-container {
    width: 100%;
    margin-right: 80px;
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.header-links-flex-container li {
   
}

.nav-links {
    display: flex;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 10px; /* Example spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Example link color */
}

.logo img {
    max-width: 100%; /* Example maximum width for the logo */
    height: auto;
}

/* Homepage Section */
#homepage {
    background-image: url('../assets/blue-hammer.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-container {
    text-align: center;
    position: relative;
}

.three-lawyers {
    margin-top: 72px;
}

.three-lawyers img {
    width: 61%;
    height: auto;
}

h1 {
    position: relative;
    top: 160px;
    font-size: 4.4rem;
    color: white;
}

h3 {
    position: absolute;
    top: 710px;
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    font-size: 3rem;
    white-space: nowrap;
    letter-spacing: 3px;
    z-index: 2; 
}

/* Banner Section */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #8daed8;
}

.banner-content {
    position: relative;
    bottom: 14px;
    text-align: center;
}

.testimonial-img,
.money-img,
.trophy-img {
    text-align: center; /* Center align text */
}

.banner-content h4 {
    font-size: 2.3rem;
    margin-bottom: auto;
}

