*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Section */
header {
    background-color: #ffffff; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px; 
}

.main-logo {
    
}

.header-links-flex-container {
    width: 100%;
    margin-right: 80px;
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

header .header-links-flex-container li a {
    text-decoration: none;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 10px; /* Example spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Example link color */
}

.logo img {
    max-width: 100%; /* Example maximum width for the logo */
    height: auto;
}

/* Homepage Section */
#homepage {
    background-image: url('../assets/background/hammer-blue.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-container {
    text-align: center;
    position: relative;
}

h1 {
    position: relative;
    top: 160px;
    font-size: 4.4rem;
    color: white;
}

h3 {
    position: absolute;
    top: 710px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(43, 130, 201); 
    -webkit-text-stroke: 1px rgb(31, 41, 77); /* For Safari/Chrome */
    color: white;
    font-size: 3rem;
    white-space: nowrap;
    letter-spacing: 3px;
    z-index: 2; 
}

/* Banner Section */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #8daed8;
}

.banner-content {
    position: relative;
    bottom: 14px;
    text-align: center;
}

.banner-content p {
    font-size: 1.1rem;
}

.testimonial-img,
.money-img,
.trophy-img {
    text-align: center; 
    font-size: 1.1rem;
}

.banner-content h4 {
    font-size: 2.3rem;
    margin-bottom: auto;
}

/* Lawyer Team Styling Section */
#lawyer-team {
    color: #157FBD;
    font-size: 1.7rem;
    text-align: center;
    transform: translateY(50%);
    position: relative;
    top: 20px;
}

.lawyer-container {
    height: 60vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    justify-content: space-around;
    transform: translateY(10%);
}

.lawyer-card {
    position: relative;
    transition: transform 0.3s ease;
}

.lawyer-card:hover {
    transform: scale(1.05) ;
}


.lawyer-card img {
    display: block; 
    max-width: 100%; 
    height: auto; 
    width: auto; 
}

.lawyer-card img:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
    
}

.lawyer-card figcaption {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
}

/* Buttons for Lawyer cards */
.buttons-container {
    text-align: center;
    margin-top: 20px;
    
}

.buttons-container button {
    height: 5vh;
    width: 160px; 
    margin-top: 70px;
    padding: 10px;
}

.buttons-container button:first-child {
    background-color: #157FBD;
    border: #157FBD;
    color: white;
    font-weight: 800;
    letter-spacing:.8px;
}

.buttons-container button:first-child:hover {
    background-color: #ffffff;
    color: #157FBD;
    border: 2px solid #157FBD; 
    cursor: pointer;
    box-shadow: 0 0 4px rgb(59, 59, 59);
}

.buttons-container button:nth-child(2) {
    background-color: #ffffff;
    border: 2px solid #157FBD;
    color: #157FBD;
    font-weight: 800;
    letter-spacing:.8px;
}

.buttons-container button:nth-child(2):hover {
    background-color: #157FBD; 
    border-color: #157FBD;
    color: white; 
    cursor: pointer;
    box-shadow: 0 0 6px rgb(59, 59, 59);
}

.buttons-container button + button {
    margin-left: 28px;
}

/* Practice cards section */
#practice-heading {
    font-size: 1.7rem;
    text-align: center;
    transform: translateY(200%);
    margin-top: 50px;
    margin-bottom: 110px;
    
    /* position: relative;
    top: 20px; */
}

.grid-container-practice {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); 
    grid-gap: 4px;
    opacity: 0.9;
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1300px; /* Optional: Limit maximum width for larger screens */
}

.card {
    background-color: #8daed8;
    width: 100%; /* Fill the grid cell */
    height: 300px;
}

